@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&family=Varela+Round&display=swap');
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
td {
    padding: .7em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(25, 20px);
    grid-template-rows: repeat(25, 20px);
    grid-gap: 1px;
    padding-bottom: 2em;
}

.grid-item {
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'Varela Round', sans-serif;
    font-size: 5px;
    font-weight: bold;
    align-self:center;
    width:auto;
    height:25px;
    color: black;
}

.grid-item img{
    padding-bottom: 5px;
}

#hold {
    width: auto;
    height: 25px;
}
input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    left: 9999px;
}
#submitEdit {
    width: 70px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

