@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to WallWizard!</h1>
    <p>Create and edit custom rock climbing routes on indoor walls with ease.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visualize Your Routes</h2>
        <p>Easily plan and visualize your routes using our interactive 3D wall editor.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collaborate with Your Team</h2>
        <p>Invite other setters to join your team and work together to create amazing routes.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Easy to Use</h2>
        <p>Our user-friendly interface makes it easy to create and edit routes, even if you're not a tech expert.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
