@model IEnumerable<PassionProject.Models.Problem>

<h2>List of Problems</h2>
<a id="create-problem" href="CreateProblem">Create Problem</a>
<table id="problems-table">
    <thead>
        <tr>
            <th>Problem Name</th>
            <th>Problem Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var problem in Model)
        {
        <tr>
            <td><a href="/Holds/ProblemId/@problem.ProblemID">@problem.ProblemName</a></td>
            <td>@problem.ProblemGrade</td>
            <td><a href="/Problem/DeleteConfirm/@problem.ProblemID">Delete</td>
            <td><a href="/Problem/Edit/@problem.ProblemID">Edit</td>
        </tr>
        }
    </tbody>
</table>